footer.footer
  .container.footer__container
    .footer__top-part
      .column.footer__column.footer__info
        a.logo
        p.footer__secription Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
  
      .column.footer__column.footer__navigation
        h2.column__title Навигация
        nav.nav.footer__nav
          ul.nav__list
            li.nav__item
              a.nav__link(href="#") О нас
            li.nav__item
              a.nav__link(href="#") Новости
            li.nav__item
              a.nav__link(href="#") Служба поддержки
            li.nav__item
              a.nav__link(href="#") Услуги
  
      .column.footer__column.footer__about-us
        h2.column__title О нас
        nav.nav.footer__nav
          ul.nav__list
            li.nav__item
              a.nav__link(href="#") О нас
            li.nav__item
              a.nav__link(href="#") Новости
            li.nav__item
              a.nav__link(href="#") Служба поддержки
            li.nav__item
              a.nav__link(href="#") Услуги
        
      .column.footer__column.footer__support
        h2.column__title Служба поддержки
        nav.nav.footer__nav
          ul.nav__list
            li.nav__item
              a.nav__link(href="#") О нас
            li.nav__item
              a.nav__link(href="#") Новости
            li.nav__item
              a.nav__link(href="#") Служба поддержки
            li.nav__item
              a.nav__link(href="#") Услуги
        
      .column.footer__column.footer__subscribe
        h2.column__title Подписка
        p.footer__decription Получайте специальные предложения и новости сервиса
        form.form.footer__form
          input.form__input.footer__input(type="email", placeholder="Email")
          button.button.form__button.footer__button(type="submit") &rightarrow;
    .footer__bottom-part
      