doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="../css/uikit.css")
    title Document
  body.page
    section.colors
      .color
      .color
      .color
      .color
      .color
      .color
      .color

      h1.title Title
      h2.section__title Title of section
      h3.label__text Label text
      p.text Main text
      
    section.form-elements
      
    include ../blocks/header/header.pug